<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-table/1.11.0/bootstrap-table.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-treegrid/0.2.0/css/jquery.treegrid.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css" />
<link rel="stylesheet" href="/static/assets/adminlte-2.3.7/css/AdminLTE.min.css" />
<link rel="stylesheet" href="/static/assets/adminlte-2.3.7/css/skins/_all-skins.min.css" />
<link rel="stylesheet" href="/static/css/app.css" />
<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/js/plugins/layer/layer.min.js"></script>
<script src="/static/js/plugins/layer/laydate/laydate.js"></script>
<script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/static/js/plugins/validate/messages_zh.min.js"></script>

<link href="/static/ligerUI/lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css"/>
<script src="/static/ligerUI/lib/jquery/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/json2.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/ligerUI/js/core/base.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/ligerUI/js/plugins/ligerTextBox.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/ligerUI/js/plugins/ligerCheckBox.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/ligerUI/js/plugins/ligerComboBox.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/ligerUI/js/plugins/ligerDateEditor.js" type="text/javascript"></script>
<script src="/static/ligerUI/lib/ligerUI/js/plugins/ligerSpinner.js" type="text/javascript"></script>
<script src="/static/demo/EmployeeData.js" type="text/javascript"></script>
<script src="/static/demo/DepartmentData.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
    body{
        background:transparent;
    }
</style>
